.input
  display: inline-flex
  align-items: center

  &__label
    cursor: pointer
    flex-shrink: 0

  &_disabled
    opacity: 0.5
    cursor: default
    pointer-events: none
    user-select: none

  &_text
    width: 100%
    overflow: hidden
    position: relative
    display: flex
    align-items: center
    flex-direction: row-reverse
    overflow: hidden

    .input
      &__icon
        content: ''
        display: block
        flex-shrink: 0
        width: 30px
        height: 28px
        overflow: visible
        border: 1px solid #d5d5d5
        border-right: 0
        border-top-left-radius: 2px
        border-bottom-left-radius: 2px
        position: relative
        transition: 0.2s ease-in-out

        &::after
          content: ''
          display: block
          position: absolute
          top: 0
          left: 100%
          width: 6px
          height: 28px
          background:
            image: url('../img/separator.png')
            repeat: no-repeat
            position: center
            size: 6px 29px

        &_user
          background: 
            image: url('../img/user-icon.png')
            repeat: no-repeat
            position: center
            size: 15px

        &_password
          background: 
            image: url('../img/password-icon.png')
            repeat: no-repeat
            position: center
            size: 16px 14px

      &__source
        width: 100%
        flex-shrink: 1
        max-height: 30px
        font: 400 14px 'Roboto'
        color: rgb(153, 153, 153)
        line-height: 1.214em
        text-align: left
        padding: 6px 15px
        box-sizing: border-box
        background: white
        border: 1px solid #d5d5d5
        border-left: 0
        border-top-right-radius: 2px
        border-bottom-right-radius: 2px
        transition: 0.2s ease-in-out

        &:focus
          border: 1px solid #93c273
          border-left: 0

        &:focus ~ .input__icon_user
          border: 1px solid #93c273
          border-right: 0
          background-color: #fafafa
          background-image: url('../img/user-icon-active.png')

        &:focus ~ .input__icon_password
          border: 1px solid #93c273
          border-right: 0
          background-color: #fafafa
          background-image: url('../img/password-icon-active.png')

        &:focus ~ .input__icon::after
          background-image: url('../img/separator-active.png')

  // base
  &_toggle
    margin-left: 16px
    
    .input
      &__label
        width: 49px
        height: 23px
        box-sizing: border-box
        position: relative
        border-radius: 100px
        background: 
          image: url('../img/toggle-off.png')
          repeat: no-repeat
          position: center
        transition: background 0.2s ease-in-out

        &::before
          content: ''
          position: absolute
          right: calc(100% + 8px)
          top: calc(50% - 10px / 2)
          display: block
          width: 8px
          height: 8px
          background:
            image: url('../img/check-off.png')
            size: cover
            position: center
            repeat: no-repeat

        &::after
          content: ''
          position: absolute
          top: calc(50% - 22px / 2)
          left: -6px
          width: 22px
          height: 22px
          display: block
          flex-shrink: 0
          border-radius: 50%
          background: url('../img/toggle-handler.png') no-repeat center
          transition: background 0.2s ease-in-out, left 0.2s ease-in-out

      &__source
        display: none
        opacity: 0
        visibility: hidden

        &:checked ~ .input__label
          background-image: url('../img/toggle-on.png')

          &::before
            background-image: url('../img/check-on.png')

          &::after
            left: calc(50% + 12px / 2)

    