.app__modal.modal(style="display: none;" id="modal")
  form.modal__content
    .modal__input.input.input_text
      input#a.input__source(type="email", placeholder="Email" required)
    .modal__input.input.input_text
      input#b.input__source(minlength="5" type="password", placeholder="Password" required)
    button(type="submit").modal__button.button.button_size_regular.button_theme_green Sign In
    .modal__input.input.input_toggle.input_theme_light
      input#d.input__source(type="checkbox", name="ex-toggle" checked)
      label.input__label(for="d")
  .modal__footnote
    p.modal__text Not a registered user yet?
    a(href="/").modal__link Sign up now!