.app__preloader.preloader
  .preloader__wrapper
    .preloader__spin.preloader__spin_active
      .preloader__spinner
        .preloader__clipper.preloader__clipper_left
          .preloader__circle
        .preloader__gap-patch
          .preloader__circle
        .preloader__clipper.preloader__clipper_right
          .preloader__circle
