// .eot - IE9 Compat Modes
// .eot?#iefix - IE6-IE8
// .woff - Modern Browsers
// .ttf - Safari, Android, iOS
// .svg#svg - Legacy iOS

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}